@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito+Sans:wght@200&display=swap);

/* Header */
header{
    position: center;
    margin: 1rem;
    width: 100%;
    padding: 2rem 
}
:root{
    font-size: 62.5%;
    font-family: Montserrat ;
}

img{
    border-radius: 20px;
}

/* MENU */
#intro {
	background: black ;
	width: 100%;
	height: 100%;
	min-height: 10rem;
	text-align: center;
}

section#intro nav ul#menu {
    list-style: none;
    display: flex;
    justify-content: center;
}    

section#intro nav ul#menu li{
    padding: 1rem;
}

section#intro nav ul#menu li a{
    color: blueviolet;
    font-size:3rem;
}  
  
section#intro ul#menu a{
    text-decoration: none; 
    padding: 1rem 2rem 1rem 2rem ;
    display:inline-block;
    color: blueviolet; 
    border: solid;
   }


 /*INDEX - CORPO*/  
   
 section#intro h1{
    color: blueviolet;
    font-size: 5rem;

}
 section#intro h1:hover{
     text-shadow: 1.0px 5.0px 3.0px rgb(129, 94, 133) ; 
 }

 section#intro h2{
     color: whitesmoke;
     font-size: 5rem;
}

section#intro h3{
    color:whitesmoke;
    font-size: 3rem;

}
section#intro p{
    color:whitesmoke;
    font-size: 1.8rem;
}



  
/* CONTATO */ 

section#contato {
    background: black;
}

section#contato h2{
    color:blueviolet;
    display: flex;
    font-size:xx-large;
  }

section#contato {
    margin: 3.0rem 2.4rem
}
section#formulario {
    margin-top: 3.0rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-bottom: 3.0rem;  
}
fieldset{
    border-radius: 20px;
}

