@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Nunito+Sans:wght@200&display=swap);

/* Header */
header{
    padding: 2rem;  

}

:root{
    font-size: 62.5%;
    font-family: Montserrat, sans-serif;
}



/* MENU */
#intro {
    background-image: url(./img/dark-purple-ink-texture.jpg);
    background-size: cover;
    background-position: unset;
	min-height: 10rem;
	text-align: center;
}

section#intro nav ul#menu {
    list-style: none;
    display: flex;
    justify-content: center;
}    

section#intro nav ul#menu li{
    padding: 1rem;
}

section#intro nav ul#menu li a{
    color: rgb(250, 204, 2);
    font-size:3rem;
}  
  
section#intro ul#menu a{
    text-decoration: none; 
    padding: 1rem 2rem 1rem 2rem ;
    color: rgb(250, 204, 2); 
    border: solid;
   }


 /*INDEX - CORPO*/  
   
 section#intro h1{
    color: rgb(250, 204, 2);
    font-size: 6rem;




}
 section#intro h1:hover{
     text-shadow: 1.0px 5.0px 3.0px black ; 
 }

 section#intro h2{
     color: whitesmoke;
     font-size: 5rem;
}

section#intro h3{
    color:whitesmoke;
    font-size: 3rem;
}

section#intro h4{
    font-size: 1.6rem ;
    background: black;
    color:aliceblue;
    padding: 2rem;
    
}


section#intro p{
    color:whitesmoke;
    font-size: 1.8rem;
    padding: 2rem;
}



  
/* CONTATO */ 

section#contato {
    background: black;
}

section#contato h2{
    color:rgb(250, 204, 2);
    display: flex;
    font-size:xx-large;
  }

section#contato {
    margin: 3.0rem 2.4rem
}
section#formulario {
    margin-top: 3.0rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-bottom: 3.0rem;  
}
fieldset{
    border-radius: 20px;
    padding: 2rem ;
}
.button{
    padding: 1rem;
    font-size: 2rem;
    background-color: rgb(250, 204, 2);
    margin-top: 2rem;
    margin-bottom: 2rem;


}


.midias{
    padding: 3rem;
}    
.container{
    display: flex;
    justify-content: center;
    padding: 2rem ;
    
    
}
.bg-box{
    width: 400px;
    height: 400px;
    background-image: url(./img/Foto_pessoal.jpg);
    border: 4px #000 solid;
    border-radius: 2rem;

    

}


