/* My variable colors */

:root {
    --primary-color: #7f0383;
    --second-color: #8807a8;
    --black-color: #000000;
    --black-color-medium: #0c0c0c;
    --semi-black: #1e1e1e;
    --white-color: #ffffff;